# ======================
# Python (Flask backend)
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
env/
instance/
*.sqlite3

# ======================
# Node / React frontend (Vite)
# ======================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# ======================
# Editor directories and files
# ======================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================
# Archivos temporales
# ======================
*.tmp
*.swp
